{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }} | {% trans 'Learning management system' %}{% endblock title %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        {% if request.user.is_student %}
        <li class="breadcrumb-item"><a href="{% url 'user_course_list' %}">{% trans 'My courses' %}</a></li>
        {% else %}
        <li class="breadcrumb-item"><a href="{% url 'programs' %}">{% trans 'Programs' %}</a></li>
        {% endif %}
        <li class="breadcrumb-item"><a href="{% url 'program_detail' course.program.id %}">{{ course.program }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ course }}</li>
    </ol>
</nav>

<div class="manage-wrap">
    <div class="d-flex align-items-center justify-content-between">
        <div>
            {% if request.user.is_superuser or request.user.is_school_admin %}
            <a class="btn btn-sm btn-light" href="{% url 'edit_course' course.slug %}">
                <i class="fas fa-pencil-alt"></i> {% trans 'Edit course' %}
            </a>
            {% endif %}
        </div>
        <div>
            <a class="btn btn-success me-2" href="{% url 'resources:resource_list' course.slug %}">
                <i class="fas fa-folder-open"></i> {% trans 'Learning Resources' %}
            </a>
            <a class="btn btn-warning" href="{% url 'quiz_index' course.slug %}">
                <i class="fas fa-tasks"></i> {% trans 'Quizzes & Assignments' %}
            </a>
        </div>
    </div>
</div>

<div class="title-1">{{ course }}</div>
<p class="small text-muted">{{ course.summary }}</p>

{% include 'snippets/messages.html' %}

{% endblock content %}